adal==1.2.2
asn1crypto==0.24.0
bagit==1.7.0
CacheControl==0.11.7
cachetools==3.1.1
certifi==2019.6.16
# cffi==1.12.3
chardet==3.0.4
coloredlogs==10.0
coverage==4.5.4
cryptography==3.3.2
cwltool==3.1.20211004060744
decorator==4.4.0
freezegun==0.3.12
future==0.17.1
google-auth==1.6.3
humanfriendly==4.18
idna==2.8
isodate==0.6.0
kubernetes==10.0.1
lockfile==0.12.2
lxml==4.9.1
mistune==0.8.4
mypy-extensions==0.4.1
networkx==2.3
nose2==0.9.1
oauthlib==3.0.2
prov==1.5.1
psutil==5.6.6
pyasn1==0.4.6
pyasn1-modules==0.2.6
pycparser==2.19
PyJWT==2.4.0
pyparsing==2.4.2
python-dateutil==2.8.0
PyYAML==5.4
rdflib>=4.2.2,<5.1
requests==2.28.1
rdflib-jsonld==0.6.2
requests-oauthlib==1.2.0
rsa==4.7
ruamel.yaml>=0.12.4,<=0.16.5
scandir==1.10.0
schema-salad>=8.2.20210914115719,<9
shellescape>=3.4.1,<3.5
six==1.12.0
tenacity==5.1.1
typing-extensions==3.7.4
websocket-client==0.56.0
